.near_by{
    margin-top: 30px;
}

.nearby_headung h1{
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.nearby_headung h1::after{
    content: "";
    display: block;
    height: 2px;
    width: 10vw;
    background-color: #338C9C;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.near_by{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5rem;
    background-color: #ffffff;
    flex-direction: column;
}

.all_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
}

.near_item{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 250px;
    height: 200px;
}

.icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #338C9C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.icon p{
    font-size: 35px;
    color: #fff;
}
.item_text h1{
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    line-height: 10px;
}
.item_text P{
    font-size: 12px;
    font-weight: 700;
    color: #888888;
    line-height: 5px;
}
.item_text span {
    font-size: 18px;
    font-weight: 700;
    color: #338C9C;
    line-height: 10px;
}


@media (max-width: 500px) {
    .near_by{
        padding: 5px 1rem;
    }
    .all_item{
        margin-top: 10px;
    }
    
    .near_item{ 
        width: 150px;
        height: 100px;
    }
    .icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #338C9C;
        font-size: 10px;
    }
    .item_text P{
        font-size: 8px;
    }
    .nearby_headung h1{
        font-size: 20px;
    }
    
    .nearby_headung h1::after{
        width: 30vw;
        bottom: -10px;
    }
    .icon p{
        font-size: 25px;
        color: #fff;
    }  
}