.resort_heading h1{
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    margin-top: 4%;
}

.resort_heading h1::after{
    content: "";
    display: block;
    height: 2px;
    width: 10vw;
    background-color: #338C9C;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.resort_item{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.resort_item ul li{
    display: inline-block;
    margin: 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}
.resort_item ul li:hover{
    color: #338C9C;
}
.resort_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.resort_container{
    position: relative;
    width: 335px;
    height: 300px;
    display: inline-block;
}
.resort_img{
    height: 300px;
}
.explore{
    width: 100%;
    height: 100%;
}
.dj_img{
    background-image: url(../public/image/dj_oscenox_night.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 335px;
    height: 300px;
}
.dj_img_stay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(51, 140, 156, 0.8);
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.resort_img_3{
    height: 300px;
}
.resort_img_4{
    height: 300px;
}
.resort_img_5{
    height: 300px;
}
.resort_img_6{
    height: 300px;   
}
.resort_img_7{
    height: 300px;
}
.resort_img_8{
    height: 300px;
}

.resort_overlay{
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
    background-color: rgba(51, 140, 156, 0.8);
}

.resort_container:hover .resort_overlay{
    opacity: 1;
}
.resort_text{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-transform: uppercase;
}
.resort_overlayleft{
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
}
.resort_container:hover .resort_overlayleft{
    width: 100%;
}


@media (max-width: 500px){
    .resort_heading h1{
        font-size: 20px;
    }
    
    .resort_heading h1::after{
        width: 30vw;
    }
    .resort_img_6{
        display: none;
    }
    .resort_img_7{
        display: none;
    }
    .resort_img_8{
       display: none;
    }
    .resort_container:nth-child(5){
        display: none;
    }
    .resort_container:nth-child(6){
        display: none;
    }
    .resort_container:nth-child(7){
        display: none;
    }
    .resort_container:nth-child(8){
        display: none;
    }
    .resort_item ul li{
        margin: 10px;
        font-size: 10px;
        font-weight: 400;
    }
}